# Lists

- using list comprehension:[x for x in iterable]
- can use type constructor: list()
- lists are mutable()

In [2]:
list1=[]
type(list1)

list

In [4]:
list1=[1,2,3,4,'hi','hello','a',12,34]
print(list1)

[1, 2, 3, 4, 'hi', 'hello', 'a', 12, 34]

In [5]:
l1=['a','b','c']
l2=[1,2,3]
print(l1+l2)

['a', 'b', 'c', 1, 2, 3]

In [6]:
l1=['a','b','c']
l2=[1,2,3]
l3=l1+l2
print(l3)

['a', 'b', 'c', 1, 2, 3]

In [14]:
print(l3[0])
print(l3[-1])
print(l3[0:])
print(l3[0:3])
#reverse the list elements
print(l3[::-1])
print(l3[5:3:-1])
print(l3[0:2][::-1])

a
3
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c']
[3, 2, 1, 'c', 'b', 'a']
[3, 2]
['b', 'a']

In [22]:
a=[1,2,3,4]
#a.append(5)
a.append([6,7,8])
print(a)
print(a[4][0])
print(a[4][1])

[1, 2, 3, 4, [6, 7, 8]]
6
7

In [18]:
a=[1,2,3,4]
#a.append(5)
a.extend([6,7,8])
print(a)

[1, 2, 3, 4, 6, 7, 8]

In [27]:
l=[1,1,1,2,3,3,'a','a','d','f','j','v','u',4,5,6,7,8]
print(l.count(1))
print(l.count('j'))
print(l.index('a'))

3
1
6

In [33]:
s=[1,2,3,4,"krishna","gayathri","tejaswini"]
s.pop()
print(s)
s.pop(0)
print(s)#index based
s.remove(2)
print(s)

[1, 2, 3, 4, 'krishna', 'gayathri']
[2, 3, 4, 'krishna', 'gayathri']
[3, 4, 'krishna', 'gayathri']

In [47]:
s=[1,2,3,4,"krishna","gayathri","tejaswini"]
del[0]
print(s)

SyntaxError: can't delete literal (<ipython-input-47-1721aea14344>, line 2)

In [38]:
x=[3,2,5,78,4,53,62]
print(x)
#x.sort()
#print(x)
x.sort(reverse=True)
print(x)

[3, 2, 5, 78, 4, 53, 62]
[78, 62, 53, 5, 4, 3, 2]

In [40]:
# insert

vowels=['a','i']
vowels.insert(1,'e')
vowels.insert(3,'o')
print(vowels)

['a', 'e', 'i', 'o']

In [41]:
x=[100,200,300,400]
y=x.copy()
print(y)
x.append('a')
print(x)
print(y)

[100, 200, 300, 400]
[100, 200, 300, 400, 'a']
[100, 200, 300, 400]

In [58]:
# take input from user
# store 10 values in empty list

n=int(input("Enter n value for list: "))
l1=[]
for i in range(1,n+1):
    l1.append(i)
print(l1)

Enter n value for list: 34
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34]

In [59]:
x

[100, 200, 300, 400, 'a']

In [60]:
x[0]=99
x

[99, 200, 300, 400, 'a']

# Tuples
- tuples are immutable
- using pair of parenthesis to represent empty tuple: ()
- for single element use , beside a single element
- items are separated with comma

In [61]:
t=()
type(t)

tuple

In [85]:
t=(1,2,3,4,5,'a','b','c')
print(t)
print(t[0])
print(t[-1])
print(t[5])

(1, 2, 3, 4, 5, 'a', 'b', 'c')
1
c
a

In [68]:

#print(t.index['1'])
print(t.index('a'))

5

In [71]:
m=(1,1,1,2,3,4)
m.count(1)

3

In [77]:
#task
#li=[1,2,3,1,2,3,4]
#output = [1,2,3,4]

li=[1,2,3,1,2,3,4]
l1=[]
for i in li:
    if i not in l1:
        l1.append(i)
print(l1)

[1, 2, 3, 4]

In [84]:
# packing
student=('Krishna','526','CSE','PACE ITS')
(name,rollnum,department,college)=student

print(rollnum)
print(name)
print(department,college)

526
Krishna
CSE PACE ITS

# Dictionary

In [88]:
address={}
type(address)

dict

In [90]:
address={'name':'abc','place':'ongole'}
print(address)

{'name': 'abc', 'place': 'ongole'}

In [91]:
address['pincode']=523001
print(address)

{'name': 'abc', 'place': 'ongole', 'pincode': 523001}

In [92]:
address.get('pincode')

523001

In [93]:
address.items()

dict_items([('name', 'abc'), ('place', 'ongole'), ('pincode', 523001)])

In [94]:
address.keys()

dict_keys(['name', 'place', 'pincode'])

In [95]:
address.values()

dict_values(['abc', 'ongole', 523001])

In [97]:
address.popitem()

('pincode', 523001)

In [99]:
address.pop('place')

'ongole'

In [100]:
address1={'place': 'ongole','street':'Nagendra nagar'}
address.update(address1)
print(address)

{'name': 'abc', 'place': 'ongole', 'street': 'Nagendra nagar'}

In [101]:
address['name']='xyz'
print(address)

{'name': 'xyz', 'place': 'ongole', 'street': 'Nagendra nagar'}

In [103]:
address2=dict.fromkeys(address)
print(address2)

{'name': None, 'place': None, 'street': None}

In [113]:
list1=[1,1.2,'True']

In [114]:
list1

[1, 1.2, 'True']

# Sets
- unordered collection of items
- sets are immutable
- denoted by curly braces {}

In [117]:
s=[1,2,3,4,5,6,7,8,1,2,3,4,5]
k=set(s)
print(k)

{1, 2, 3, 4, 5, 6, 7, 8}

In [119]:
a={1,2,3,4,5,6,7,8}
b={1,2,3,10,11,12}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12}

In [120]:
a.intersection(b)

{1, 2, 3}

In [121]:
a.add(9)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [122]:
a.difference(b)

{4, 5, 6, 7, 8, 9}

In [123]:
a.issubset(b)

False

In [124]:
b.issubset(a)

False

In [125]:
s1={1,2,3}
s2={1,2,3,4,5}
s1.issubset(s2)

True

In [126]:
s2.issubset(s1)

False

In [127]:
s2.pop()

1